.nav {
  display: flex;
  justify-content: space-between;
  padding: 0 30px;
}

.nav-btn {
  width: 180px;
  display: flex;
  justify-content: space-around;
}

.nav-btn a {
  color: white;
}

.nav-btn a:hover {
  text-decoration: underline;
}

@media all and (max-width: 600px) {
	.nav-btn {
    width: 45%;
	}
}
